<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <a href="/" class="fs-2 d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    DOCTRIS
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li>
      <%= link_to "Home", 
        root_path, class: (request.path == root_path ? "nav-link px-2 link-secondary" : "nav-link px-2 link-dark") %>
    </li>
    <li>
      <%= link_to "Appointments", 
        appointments_path, class: (request.path == appointments_path ? "nav-link px-2 link-secondary" : "nav-link px-2 link-dark" ) %>
    </li>
    <li>
      <%= link_to "Doctors", 
        doctors_path, class: (request.path == doctors_path ? "nav-link px-2 link-secondary" : "nav-link px-2 link-dark" ) %>
    </li>
    <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
  </ul>

  <div class="col-md-4 text-end d-flex justify-content-end">
    <%- if patient_signed_in? %>
      <%= link_to "Profile", "#", type:"button", class:"btn btn-outline-primary me-2" %>
      <%= button_to "Logout", destroy_patient_session_path, method: :delete, class: "btn btn-danger" %>
    <% else %>
      <%= link_to "Login", new_patient_session_path, type:"button", class:"btn btn-outline-primary me-2" %>
      <%= link_to "Sign-up", new_patient_registration_path, type:"button", class:"btn btn-primary" %>
    <% end %>
  </div>
</header>
