

<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :doctor_id, class: "form-label" %>
    <%= form.select :doctor_id, options_for_select(@doctors), {}, class: "form-select" %>
  </div>

  <%= form.hidden_field :patient_id, value: current_patient.id %>

  <div class="mb-3">
    <%= form.label :scheduled, class: "form-label" %>
    <%= form.date_field :scheduled, class: "form-control", step: "3" %>
  </div>

  <%= form.submit "Create Appointment", class: "btn btn-lg btn-primary btn-block" %>
<% end %>
